.home {
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;

  .title {
    margin: 1.4rem 0 1rem 0;
    font-family: "neueBold";
    font-size: 1.7rem;
    font-weight: 400;
  }

  .contentCardsProduct {
    columns: 2;
    margin-bottom: 1rem;
  }
}
