@import "../../../variables.scss";

.contentNavFooter {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: 1rem 0;
  padding: 0.1rem 0 0.1rem 1rem;

  .sections {
    font-family: "neueBold";
    font-size: 0.6rem;
    color: $mediumGray;
  }
}

@media screen and (min-width: 768px) {
  .contentNavFooter {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1365px) {
}
