@import "../../variables.scss";
.btn {
  background: $orange;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-family: "neueBold";
  color: $white;
  -webkit-box-shadow: inset 0px 0px 0px 2px $black, 3px 3px 0 $black;
  -moz-box-shadow: inset 0px 0px 0px 2px $black, 3px 3px 0 $black;
  box-shadow: inset 0px 0px 0px 2px $black, 3px 3px 0 $black;
  align-self: center;
  letter-spacing: 0.08rem;
  transition: ease 0.3s;

  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 0px transparent, 0 0 0 0 transparent;
    -moz-box-shadow: inset 0px 0px 0px 0px transparent, 0 0 0 0 transparent;
    box-shadow: inset 0px 0px 0px 0px transparent, 0 0 0 0 transparent;
    transition: ease 0.1s;
  }

  &:active {
    -webkit-box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
    -moz-box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
    box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
    background: linear-gradient($orange 85%, rgba(143, 40, 0, 0.8));
  }
}
