 @import "../../variables.scss";

 .content {
     width: 60%;
     position: absolute;
     z-index: 500;
     margin-left: 10%;
     bottom: 8%;

     &.hidden {
         display: none;
     }

     .img {
         width: 100%;
     }

     .btnClose {
         background: $white;
         width: 1.5rem;
         height: 1.5rem;
         border-radius: 50%;
         border: 2px solid $black;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         top: 0;
         right: 2.5%;

         svg {
             width: 30%;
         }

         &:hover {
             border-color: $orange;
         }
     }

     .text {
         font-weight: bold;
         font-size: 1rem;
         width: 100%;
         padding: 0 5%;
         position: absolute;
         top: 20%;
         left: 50%;
         transform: translateX(-50%);
         ;
     }

 }