// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

@font-face {
  font-family: "neueLight";
  src: url("./Neue_Machina/NeueMachina-Light.otf");
}

@font-face {
  font-family: "neue";
  src: url("./Neue_Machina/NeueMachina-Regular.otf");
}

@font-face {
  font-family: "neueBold";
  src: url("./Neue_Machina/NeueMachina-Ultrabold.otf");
}