@import "../../variables.scss";

.title {
    color: $orange;
    font-weight: bold;
    font-size: 2.7rem;
    width: 100vw;
    right: .5rem;
    position: relative;
    font-family: arial;
}

.img {
    width: 100%;
    position: relative;
    top: -10px;
}

