.content {
    width: 50%;
    max-width: 12rem;
    display: flex;
    align-items: center;

    .productImg {
        width: 50%;
    }

    .text {
        width: 40%;
        font-size: .8rem;
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 30%;

        .productImg {}

        .text {}

    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1365px) {}