 @import "../../variables.scss";

 .content {
     display: flex;
     flex-wrap: wrap;
     row-gap: 1.7rem;
     justify-content: center;
     align-items: center;
     max-width: 750px;
     margin: 1.4rem auto;

     .title {
         color: $green;
         width: 50%;
         max-width: 12rem;
     }
 }

 @media screen and (min-width: 768px) {
     .content {

         .title {
             width: 30%;
         }
     }
 }

 @media screen and (min-width: 1024px) {
     .content {

         .title {}
     }
 }

 @media screen and (min-width: 1365px) {
     .content {
         max-width: 100%;

         .title {}
     }
 }