@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?55kuu1');
  src:  url('fonts/icomoon.eot?55kuu1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?55kuu1') format('truetype'),
    url('fonts/icomoon.woff?55kuu1') format('woff'),
    url('fonts/icomoon.svg?55kuu1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e923";
}
.icon-adjunt:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrow_up:before {
  content: "\e904";
}
.icon-cash:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-credit_card:before {
  content: "\e907";
}
.icon-cruce:before {
  content: "\e908";
}
.icon-debit_card:before {
  content: "\e909";
}
.icon-delivery_moto:before {
  content: "\e90a";
}
.icon-delivery_truck:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-left:before {
  content: "\e90f";
}
.icon-less:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-message:before {
  content: "\e914";
}
.icon-objective:before {
  content: "\e915";
}
.icon-plus:before {
  content: "\e916";
}
.icon-right:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-security:before {
  content: "\e919";
}
.icon-shopping:before {
  content: "\e91a";
}
.icon-show:before {
  content: "\e91b";
}
.icon-tag:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-up:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-vtex:before {
  content: "\e920";
}
.icon-whatsapp:before {
  content: "\e921";
}
.icon-youtube:before {
  content: "\e922";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
