@import "../../variables.scss";

.footerContent {
    background: $white;
    padding: .7rem 1rem;
    display: flex;
    flex-wrap: wrap;

    .contentBtnUp {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
    }   
}