@import "../../variables.scss";
@import "../../fonts/font-face.scss";

.search {
    position: relative;
    margin-bottom: 1rem;

    .searchIcon {
        height: 1rem;
        color: $mediumGray;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: .5rem
    }

    .searchInput {
        width: 100%;
        font-size: .9rem;
        font-family: "inter";
        color: $darkGray;
        padding: .5rem;
        padding-left: 2rem;
        border-radius: 3px;
        border: $gray solid 1px;
    }
}

@media screen and (min-width: 768px) {
    .search {

        display: none;
    }
}

@media screen and (min-width: 1365px) {}