@import "../../../variables.scss";

.dataContent {
    // margin-top: .1rem;
    text-align: left;

    .dataGroup {

        .title {
            font-size: 1rem;
            line-height: 1.4rem;
            margin: 0;
        }

        .description {
            font-weight: normal;
            letter-spacing: -.03rem;
            width: 90%;
            // text-overflow: ellipsis;// overflow: hidden;
        }
    }

    .priceGroup {
        margin-top: .2rem;

        .fee {
            font-size: .8rem;
            color: $darkGray;
        }

        .priceFee {
            font-family: "inter";
            font-weight: bold;
        }

        .price {
            font-size: .8rem;
            margin-top: .2rem;

            .priceListOffer {
                color: $mediumGray;
                margin: .3rem;
            }

            .priceList {
                color: $black;
                font-weight: bold;
                font-size: 1rem;
                margin: .3rem;
            }

            .priceOffer {
                font-weight: bold;
                color: $red;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .dataContent {
        .dataGroup {

            .title {
                padding: .1rem 0;
            }

            .description {
                padding-bottom: .4rem;
            }
        }

        .priceGroup {
            margin-top: .5rem;

            .fee {
                font-size: .8rem;
                color: $darkGray;
            }

            .priceFee {
                font-size: 1.4rem;
            }

            .price {

                .priceList {}

                .priceOffer {}
            }
        }
    }
}