@import "../../../variables.scss";

.contentBrands {
  width: 90%;
  max-width: 260px;
  margin: 0.9rem auto;

  .lineOne {
    display: flex;
    justify-content: space-around;
  }

  .lineTwo {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 0.2rem;
  }

  .icon {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $mediumGray;
    }
    &.afip {
      width: 16%;

      img {
        width: auto;
      }
    }
    &.vtex {
      width: 34%;

      svg {
        width: 70%;
      }
    }
    &.cruce {
      width: 39%;

      svg {
        color: $black;
        width: 75%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contentBrands {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .lineOne {
      width: 50%;
    }

    .lineTwo {
      width: 50%;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contentBrands {
    display: none;
  }
}

@media screen and (min-width: 1365px) {
}
