@import "../../../variables.scss";

.dataContent {
  text-align: left;

  .dataGroup {
    .title {
      font-size: 1rem;
      line-height: 1.4rem;
      margin: 0;
    }

    .description {
      font-weight: normal;
      letter-spacing: -0.03rem;
      width: 90%;
      height: 30px;
      hyphens: auto;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0.3rem;
    }
  }

  .priceGroup {
    display: flex;
    flex-direction: column;

    .fee {
      font-size: 0.8rem;
      color: $darkGray;
    }

    .priceFee {
      font-family: "inter";
      font-weight: bold;
    }

    .price {
      font-size: 0.9rem;
      margin-top: 0.2rem;

      .priceListOffer {
        color: $mediumGray;
        margin: 0.3rem;
      }

      .priceList {
        color: $black;
        font-weight: bold;
        font-size: 1rem;
        margin: 0.3rem;
      }

      .priceOffer {
        font-weight: bold;
        font-size: 1rem;
        color: $red;
      }
      &.outStock {
        margin-bottom: 0.1rem;
        top: 1rem;
        position: relative;
        top: -0.5rem;
        .warning {
          color: $red;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .btnViewMore {
      background: $white;
      color: $black;
      padding: 0.65rem 0.8rem;
      align-self: start;
      font-size: 0.7rem;

      &:hover {
        background: $orange;
        color: $white;
      }

      &:active {
        -webkit-box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
        -moz-box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
        box-shadow: inset 0px 2px 5px 2px rgba($white, 0.5);
        background: linear-gradient($orange 85%, rgba(143, 40, 0, 0.8));
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .dataContent {
    .dataGroup {
      .title {
        padding: 0.1rem 0;
      }

      .description {
        padding-bottom: 0.4rem;
      }
    }

    .priceGroup {
      margin-top: 0.3rem;

      .fee {
        font-size: 0.8rem;
        color: $darkGray;
      }

      .priceFee {
        font-size: 1.4rem;
      }

      .price {
        .priceList {
        }

        .priceOffer {
        }
        &.outStock {
          margin-bottom: 0.1rem;
          top: 1rem;
          top: -0.5rem;
          .warning {
            font-size: 1.4rem;
          }
        }
      }
      .btnViewMore {
        padding: 0.75rem 0.9rem;
        font-size: 0.8rem;
      }
    }
  }
}
