@import "../../variables.scss";

.content {
    margin: 2.5rem 0 1.5rem;


    .contentHeader {
        .title {
            color: $black;
            width: 50%;
        }

        .allView {
            font-family: "neueBold";
            font-size: .65em;
        }
    }

    .contentProduct {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0 .5rem;
    }

    .newsFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .pagination {
            font-size: .9rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .cardProduct {

        div:nth-child(1) {

            img {
                margin-left: 50%;
                translate: -50%;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .content {
        // margin: 1rem 0;


        .contentHeader {
            .title {
                // color: $black;
                // width: 50%;
            }

            .allView {
                // font-family: "neueBold";
                // font-size: .65em;
            }
        }

        .contentProduct {
            // display: flex;
            // justify-content: space-evenly;
            // margin: 1rem 0 .5rem;
        }

        .newsFooter {
            // display: flex;
            // justify-content: space-between;
            // align-items: flex-end;
            margin-top: 2rem;

            .pagination {
                // font-size: .9rem;
            }
        }
    }
}

@media screen and (min-width: 1365px) {}