@import "../../variables.scss";

.content {
    margin: 1rem 0;


    .contentHeader {
        .title {
            color: $black;
            width: 50%;
        }

        .allView {
            font-family: "neueBold";
            font-size: .65em;
        }
    }

    .contentProduct {
        display: flex;
        margin: 1rem 0 .5rem;
    }

    .newsFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .pagination {
            font-size: .9rem;
        }
    }
}