* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "inter", sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin: 1.4rem 0 1rem 0;
  font-family: "neueBold";
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}