@import "./fonts/font-face.scss";

$green: #76b043;
$orange: #f26522;
$yellow: #fdb913;
$red: #ec2227;
$white: #fff;
$lightGray: #f0f0f0;
$gray: #c8c8c8;
$mediumGray:#8c8c8c;
$darkGray:#505050;
$black: #000;
$purple: #7d5a94;