@import "../../../variables.scss";

.card {
    padding: .5rem;
    font-family: "neue";
    width: 80%;
    max-width: 12rem;

    &:nth-child(3) {
        padding-top: 4rem;
    }

    .btnShop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .card {

        &:nth-child(3) {
            padding-top: 0.5rem
        }

    }
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 20rem;

        .btnShop {
            display: flex;
        }
    }
}

@media screen and (min-width: 1365px) {}