@import "../../variables.scss";

.background {
    background: $black;
    opacity: .5;
    z-index: 550;
    width: 100%;
    height: 100%;
    position: absolute;

    &.hidden {
        display: none;

    }

    &.show {
        display: block;

    }
}

.nav {
    background: $lightGray;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .15);
    position: absolute;
    top: 68px;
    padding: .5rem 0 0;
    z-index: 600;
    width: 150px;

    &.hidden {
        left: -151px;
        transition: all .9s;
    }

    &.show {
        left: 0;
        transition: all .4s;
    }

    .sectionGroup {

        .title,
        .btn {
            font-family: "neueBold";
            font-size: .9rem;
            padding: .5rem 1rem;
        }

        .title {
            margin: .5rem 0;
        }

        .btnGroup {

            .btn {
                color: $mediumGray;
                width: 100%;

                &:hover {
                    color: $black;
                }

                &:active {
                    color: $orange;
                }

                &.hotsale {
                    transition: ease .5s;

                    &:hover {
                        transition: ease .1s;
                        background: $black;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1365px) {
    .background {
        &.hidden {
            display: none;
        }

        &.show {
            display: none;
        }
    }

    .nav {
        position: relative;
        background: none;
        box-shadow: none;
        top: 0px;
        padding: 0;
        width: auto;

        &.hidden {
            left: -20px;
        }

        .sectionGroup {
            display: flex;
            align-items: center;

            .title,
            .btn {
                font-size: 1rem;
                padding: .5rem .7rem;
            }

            .title {
                padding: .5rem 0.5rem;
            }

            .btnGroup {
                display: flex;
                align-items: center;
                padding: .5rem .7rem;

                .btn {
                    &.hotsale {
                        transition: ease .5s;

                        &:hover {
                            transition: ease .1s;
                            background: none;
                            box-shadow: 0 3px 9px rgba(0, 0, 0, .15)
                        }
                    }
                }
            }
        }
    }

}