 @import "../../../variables.scss";

 .contentInfo {
     display: flex;
     align-items: center;
     position: relative;
     width: 100%;

     .contentBtnCircle {
         width: 1.8rem;
         height: 1.5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;

         div {
             svg {
                 width: 4px;
             }
         }
     }

     .slide {
         display: flex;
         overflow: auto;
         padding: 1rem 0;
         margin: 0 .5rem;
         align-items: center;
         width: 95%;

         .obliqueLine {
             stroke: $gray;
             stroke-width: .1rem;
         }

         .content {
             display: flex;
             width: auto;
             padding: 1rem;
             column-gap: .5rem;


             .contentIcon {
                 width: auto;
                 min-width: 25%;
                 color: $green;
                 padding: .4rem;

             }

             .contentText {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;

                 .text {
                     font-family: "neueBold";
                     font-size: 1rem;
                     width: 150px;
                 }

                 .subtext {
                     font-size: .9rem;
                     font-weight: bold;
                     color: $red;
                 }
             }
         }
     }
 }