 @import "../../../variables.scss";

 .contentInfo {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     width: 100%;
     margin: .5rem 0;

     .contentBtnCircle {
         width: 1.8rem;
         min-width: 1.7rem;
         height: 1.7rem;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;

         div {
             svg {
                 width: 4px;
             }
         }
     }

     .slide {
         display: flex;
         overflow: auto;
         padding: 1rem 0;
         margin: 0 .5rem;
         align-items: center;
         width: 95%;
         max-width: 700px;

         .obliqueLine {
             stroke: $gray;
             stroke-width: .1rem;
         }

         .content {
             display: flex;
             width: auto;
             padding: 1rem .5rem;
             column-gap: .5rem;


             .contentIcon {
                 width: auto;
                 min-width: 25%;
                 min-width: 2rem;
                 color: $green;
                 padding: .2rem;
                 display: flex;
                 align-items: center;

             }

             .contentText {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;

                 .text {
                     font-family: "neueBold";
                     font-size: 1rem;
                     width: 150px;
                 }

                 .subtext {
                     font-size: .9rem;
                     font-weight: bold;
                     color: $red;
                 }
             }

             &:nth-child(5) {
                 .subtext {
                     color: $mediumGray;
                 }
             }
         }
     }
 }


 @media screen and (min-width: 768px) {
     .contentInfo {
         .contentBtnCircle {
             display: none;
         }

         .slide {
             padding: 0;
         }
     }
 }

 @media screen and (min-width: 1365px) {}